.menuWrapper {
    max-width: 990px;
    margin: 0 auto;
} 

.Menu {  
   width: 100%;
   font-size: 10pt;  
   font-family: 'PT Sans', Arial, sans-serif;  
}

.Menu ul {  
    background: #6c6e58;
    padding: 0;  
    margin: 0 auto; 
}

.Menu ul li {
    text-align:center;
    min-width: 160px;
    height:40px;
    border-bottom: 1px solid #b5be64;    
}

.Menu ul ul li {
    width: 0 auto;
    background:#6c6e58;
}

.Menu ul li a {
    color: #fff;
    line-height: 40px;  
    padding: 0 8px;
}

.Menu ul li a:hover, .Menu ul li a.selected {
    color:black;
    background-color: #b5be64; 
}

.leftNav
{
    margin-top:40px;

}

.infoLabel {
    background-color:#668d8e;
    margin-bottom:10px;
    padding:5px 5px 5px 10px;
    font-size:15px;
    font-family: 'Roboto', serif;
    border:solid 1px #a4cebe;
    border-radius:15px;
    text-align:left;
    display:inline-block;
    text-align:left;
    display:inline-block;
    color: #fff;
}

.infoButton {
    background-color:mediumblue;
    width:100px;
    margin-bottom:10px;
    padding:5px 5px 5px 10px;
    font-size:15px;
    font-family: 'Roboto', serif;
    border:solid 1px #a4cebe;
    border-radius:15px;
    width: 170px;
    text-align:left;
    display:inline-block;
    width: 170px;
    text-align:left;
    display:inline-block;
    color: white ;
    
}

.textContact {
    padding:5px;
    margin-left:-15px;
    border:solid 1px #a4cebe;
    font-size:15px;
    font-family: 'Roboto Slab', serif;
}